mgr_url: "{{ mgr_url }}"
mgr_user: "{{ mgr_user }}"
mgr_pwd: "{{ mgr_pwd }}"

hadoop_version: "{{ hadoop_version }}"
cluster_name: "{{ cluster_name }}"
hbase_user: "{{ hbase_user }}"
hbase_group: "{{ hbase_group }}"
hdfs_user: "{{ hdfs_user }}"
hbase_xml_file: "{{ hbase_xml_file }}"

java_home: "{{ java_home }}"
ldap_security: "{{ ldap_security }}"
dcs_count: "{{ dcs_count }}"
my_nodes: "{{ my_nodes }}"
node_list: "{{ node_list }}"
first_node: "{{ first_node }}"
rpm_basename: "{{ rpm_basename }}"
traf_start: "{{ traf_start }}"
traf_rpm: "{{ traf_rpm }}"
traf_pwd: "{{ traf_pwd }}"
