- name: Set default Hadoop base path
  set_fact:
    hadoop_base_path: "/usr"

- name: Detect Hadoop base path for cdh parcel
  stat: path=/opt/cloudera/parcels/CDH
  register: parcel

- name: Set Hadoop base path for parcel
  set_fact:
    hadoop_base_path: "/opt/cloudera/parcels/CDH"
  when: parcel.stat.exists==True

- name: Set hdfs binary path
  set_fact:
    hdfs_cmd: "{{ hadoop_base_path }}/bin/hdfs"

- name: Wait to make sure HDFS is fully restarted and out of safemode
  shell: "{{ hdfs_cmd }} dfsadmin -safemode wait"
  become_user: hdfs
  become: yes

- name: Create Trafodion needed folders in HDFS
  shell: "{{ hdfs_cmd }} dfs -mkdir -p /hbase-staging /bulkload /lobs /hbase/archive 2>/dev/null"
  ignore_errors: true
  become_user: hdfs
  become: yes

- name: Change ownership in HDFS
  shell: "{{ hdfs_cmd }} dfs -chown -R {{ hbase_user }}:{{ hbase_user }} /hbase-staging /hbase/archive; {{ hdfs_cmd }} dfs -chown -R trafodion:trafodion /bulkload /lobs"
  ignore_errors: true
  become_user: hdfs
  become: yes
 
- name: Setting HDFS ACLs for snapshot scan support
  shell: "{{ hdfs_cmd }} dfs -setfacl -R -m user:trafodion:rwx /hbase/archive; {{ hdfs_cmd }} dfs -setfacl -R -m default:user:trafodion:rwx /hbase/archive; {{ hdfs_cmd }} dfs -setfacl -R -m mask::rwx /hbase/archive"
  ignore_errors: true
  become_user: hdfs
  become: yes


